/*
 * Author: Adrián Sánchez
 */
body{
	margin: 0px;
	text-align: center;
	background-image: url('../img/pc.gif');
    background-size: cover;
    background-repeat: round;
}
.headerWrap{
    margin: 50px;
    padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    color:white;
}
.link{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
input{
	color: black !important;
}
.footer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
h1{
	color:white;
}
.img-responsive{
	max-width: 100%;
}
#chart_div{
	height: 100vh;
}
#chart_div2{
	height: 100vh;
}